mixin icon-svg
    span(
        class="m-icon-svg"
        class!=attributes.class
        )&attributes(attributes)
        if block
            block

mixin image_webp_retina_media(image_mobile, ext, image, media, alt)
    - 
        type = ext
        img_path_default = img_path
    if type === "jpg"
        - type = "jpeg"     
    //-picture(class!=attributes.class)
    picture&attributes(attributes)
        //-source(
            srcset=img_path_default + image + ".webp 1x, " + img_path_default + image + "@2x.webp 2x"
            media="(min-width: "+media+"px)"
            type="image/webp"
            )
        source(
            srcset=img_path_default + image + "." + ext + " 1x, " + img_path_default + image + "@2x." + ext + " 2x"
            media="(min-width: "+media+"px)"
            type="image/"+type
        )
        //-source(
            srcset=img_path_default + image_mobile + ".webp 1x, " + img_path_default + image_mobile + "@2x.webp 2x"
            type="image/webp"
            )
        source(
            srcset=img_path_default + image_mobile + "." + ext + " 1x, " + img_path_default + image_mobile + "@2x." + ext + " 2x"
            type="image/"+type
            )
        img(
            src=img_path_default + image_mobile + "." + ext 
            alt=alt
            data-gtm-category!=attributes.gtmCategory
            data-gtm-action!=attributes.gtmAction
            data-gtm-label!=attributes.gtmLabel
            data-gtm-type!=attributes.gtmType
            )

mixin image_webp_retina(image, ext, alt, path)
    - 
        type = ext
        img_path_default = img_path
    if type === "png"
        - type = "png"     
    if type === "jpg"
        - type = "jpeg"  
    if path === 'empresas'
        - img_path_default = img_empresas_path
    
    //-picture(class!=attributes.class)&attributes(attributes)       
    picture(class!=attributes.class)
        if type !== "svg"
            //-source(
                srcset=img_path_default + image + ".webp 1x, " + img_path_default + image + "@2x.webp 2x"
                type="image/webp"
                )
            source(
                srcset=img_path_default + image + "." + ext + " 1x, " + img_path_default + image + "@2x." + ext + " 2x"
                type="image/"+type
                )
        img(
            src=img_path_default + image + "." + ext 
            alt=alt
            class=attributes
            data-gtm-category!=attributes.gtmCategory
            data-gtm-action!=attributes.gtmAction
            data-gtm-label!=attributes.gtmLabel
            data-gtm-type!=attributes.gtmType
            )
        
mixin lazy_image_webp_retina(image, ext, alt, path)
    - 
        type = ext
        img_path_default = img_path   
    if type === "jpg"
        - type = "jpeg"    
    if path === 'empresas'
        - img_path_default = img_empresas_path
    //-picture(class!=attributes.class)&attributes(attributes)        
    picture(class!=attributes.class)
        if type !== "svg"
            //-source(
                data-srcset=img_path_default + image + ".webp 1x, " + img_path_default + image + "@2x.webp 2x"
                type="image/webp"
                )
            source(
                data-srcset=img_path_default + image + "." + ext + " 1x, " + img_path_default + image + "@2x." + ext + " 2x"
                type="image/"+type
                )
        img(
            class="e-lazy-js"
            data-src=img_path_default + image + "." + ext 
            alt=alt
            data-gtm-category!=attributes.gtmCategory
            data-gtm-action!=attributes.gtmAction
            data-gtm-label!=attributes.gtmLabel
            data-gtm-type!=attributes.gtmType
            )

mixin lazy_image_webp_retina_media(image_mobile, ext, image, media, alt)
    - 
        type = ext
        img_path_default = img_path 
    if type === "jpg"
        - type = "jpeg"     
    picture(class="e-lazy__img" class!=attributes.class)&attributes(attributes)  
        if type !== "svg"  
            //-source(
                data-srcset=img_path_default + image + ".webp 1x, " + img_path_default + image + "@2x.webp 2x"
                media="(min-width: "+media+"px)"
                type="image/webp"
                )
            source(
                data-srcset=img_path_default + image + "." + ext + " 1x, " + img_path_default + image + "@2x." + ext + " 2x"
                media="(min-width: "+media+"px)"
                type="image/"+type
            )
            //-source(
                srcset=img_path_default + image_mobile + ".webp 1x, " + img_path_default + image_mobile + "@2x.webp 2x"
                type="image/webp"
                )
            source(
                data-srcset=img_path_default + image_mobile + "." + ext + " 1x, " + img_path_default + image_mobile + "@2x." + ext + " 2x"
                type="image/"+type
                )
        img(
            class="e-lazy-js"
            data-src=img_path_default + image_mobile + "." + ext 
            alt=alt
            )